html{
    background-color: #50a35a;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 95%;
    text-align: justify;
    padding: 0;
    margin: 0;
}


.container{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 40px;
}

.content-area{
    border-top: 3px solid #93c999 ;
    border-bottom: 3px solid #93c999 ;
    margin-top: 50px;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    background-color: #93c999;
}

.site-nav li{
 list-style: none;
 float: left;
 margin-right: 5px;
}

.site-nav a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 3px solid #93c999;
    margin-top: -25px;
    background-color: #1f6627;

}

.site-nav a:hover{
    background-color: #93c999;
}

.site-nav{
    margin-top: 45px;  
    background-color: #1f6627;;
    box-sizing: border-box;
}

.site-nav ul{
    padding: 0;
}

@media screen and (max-width: 700px) {

    .site-nav li{
        width: 33.332%;
        margin-right: 0;
        padding-bottom: 15px;
    }
    
}

.main-area{
   width: 60%; 
   margin-left: auto;
   margin-right: auto;
   float: left;
   padding-right: 40px;
   box-sizing: border-box;
}

.sidebar{
    width: 40%;
    float: left;
    background-color: #93c999 ;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:30px 30px 20px 30px;
    box-sizing: border-box;
    font-size: 90%;
    background-image: linear-gradient(to bottom, #93c999 , #FFF);  
}

img{
    width: 100%;
    height: auto;
}

.fix{
clear: both;
}

header h1{
    margin: 0%;
    font-weight: normal;
   
}

header p{
    margin: 0%;
}

header{
    padding-bottom: 20px;
    color: #ffffff;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1f6627;
    padding: 30px;
}

footer{
    text-align: center;
    font-size: 95%;
    color: #999;
    padding-top: 30px;
}

/* Banner overlay */
.banner-description{
    position: absolute;
    bottom: 0;  /* bottom and left of what, so we use position : relative to the image so then it will be BOTTOM AND LEFT RELATIVE TO THE IMAGE   */
    left: 0;  
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 2px 20px;  
}

.image-banner{
    position: relative;
}

.image-banner img{
    display: block;
}

/* Table Styles */
table th{
    text-align: left;
    background-color: #93c999;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

table th,td{
    border: 1px solid #50a35a;
    padding: 10px;
    vertical-align: top;
}


table tbody tr:nth-child(even) td{
    background-color: #93c999;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

input[type="email"]{
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0 10px;
    height: 40px;;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    border: 2px solid black;
}

input[type="password"]{
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0 10px;
    height: 40px;;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    border: 2px solid black;
}

input[type="submit"]{
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: #33b885;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

input[type="submit"]:hover,
input[type="submit"]:focus{
    border: 1px solid #535E3B;
    background-color: #2daa8b;

}


form{
    background-color: #82ba88;
    padding: 30px 40px;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    font-weight: bold;
}  

.hidden-label{
    position: absolute;
    height: 0;
    width: 0;
    visibility: hidden;
    overflow: hidden;
}

.main-area h2{
    letter-spacing: 2px;
    text-shadow: 2px 7px 3px #999999;
}

@media screen and (max-width: 700px) {

    .main-area,.sidebar{
        width: auto;
        float: none;
    }

    .main-area{
        padding-right: 0;
    }

}

@media screen and (max-width: 480px) {

    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

@media screen and (max-width: 480px){
    
    .site-nav li{
            width: 50%  ;
    }
}
